<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>ru.reeson2003.controller.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SwitchServlet</servlet-name>
        <servlet-class>ru.reeson2003.controller.StatusSwitchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SwitchServlet</servlet-name>
        <url-pattern>/switch</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ChangePeriodServlet</servlet-name>
        <servlet-class>ru.reeson2003.controller.ChangePeriodController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePeriodServlet</servlet-name>
        <url-pattern>/change_period</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PluginsServlet</servlet-name>
        <servlet-class>ru.reeson2003.controller.PluginsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PluginsServlet</servlet-name>
        <url-pattern>/plugins</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveServlet</servlet-name>
        <servlet-class>ru.reeson2003.controller.PluginsRemoveController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveServlet</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PluginSelectServlet</servlet-name>
        <servlet-class>ru.reeson2003.controller.PluginSelectController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PluginSelectServlet</servlet-name>
        <url-pattern>/select</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeParameterServlet</servlet-name>
        <servlet-class>ru.reeson2003.controller.ChangeParameterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeParameterServlet</servlet-name>
        <url-pattern>/change_parameter</url-pattern>
    </servlet-mapping>

</web-app>